<%= render 'layouts/home_back_btn' %>
<div class="users-edit">
  <%= form_with model: current_user, local: true do |f| %>
    <div class="users-edits">
      <div class="user-edit-label"><%= f.label :name %>:</div>
      <div class="user-edit-field"><%= f.text_field :name, class: "user-edit " %></div>
    </div>
    
    <div class="users-edits">
      <div class="user-edit-label"><%= f.label :bio %>:</div>
      <div class="user-edit-field"><%= f.text_area :bio, class: "user-edit user-bio" %></div>
    </div>
    
    <div class="users-edits">
      <div class="user-edit-label"><%= f.label :email %>:</div>
      <div class="user-edit-field"><%= f.text_field :email, class: "user-edit " %></div>
    </div>
    
    <div class="users-edits">
      <div class="user-edit-label"><%= f.label :phone %>:</div>
      <div class="user-edit-field"><%= f.text_field :phone, class: "user-edit " %></div>
    </div>

    <div><%= f.submit "Submit", class: "comment-btn" %></div>
  <% end %>
</div>