<%= render 'layouts/home_back_btn' %>
<div class="users-index">
  <% @users.each do |u| %>
    <div class="users-user">
      <a href="<%= user_path(u)%>">
        <div><strong>Name: </strong><%= u.name ? u.name : 'unavailable' %></div>
      </a>
      <div><strong>Bio: </strong><%= u.bio ? u.bio : 'unavailable' %></div>
      <div><strong>Phone: </strong><%= u.phone ? u.phone : 'unavailable' %></div>
      <div><strong>Total posts = </strong><%= u.posts.count %></div>
      <div><strong>Total comments = </strong><%= u.comments.count %></div>
      <div class="users-user-btns">
        <% if u == current_user %>
          <%= link_to "Edit Your Profile", edit_user_path(current_user), class: "index-follow" %>
        <% elsif current_user.followees.include?(u)  %>
          <%= button_to "Unfollow", unfollow_user_path(u), method: "POST", class: "index-unfollow" %>
        <% else %>
          <%= button_to "Follow", follow_user_path(u), method: "POST", class: "index-follow" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>