<%= render 'layouts/home_back_btn' %>
<div class="users-index">
  <% @users.each do |u| %>
    <div class="users-user">

      <% if u.name.present? %>
        <a href="<%= user_path(u)%>">
          <div><strong>Name: </strong><%= u.name %></div>
        </a>
      <% else %>
        <a href="<%= user_path(u)%>">
          <div><strong>Email: </strong><%= u.email %></div>
        </a>
      <% end %>

      <% if u.bio.present? %>
        <div><strong>Bio: </strong><%= u.bio %></div>
      <% end %>

      <% if u.phone.present? %>
        <div><strong>Phone: </strong><%= u.phone %></div>
      <% end %>

      <% if u.posts.present? %>
        <div><strong>Total posts = </strong><%= u.posts.count %></div>
      <% end %>
     
      <% if u.comments.present? %>
        <div><strong>Total comments = </strong><%= u.comments.count %></div>
      <% end %>

      <div class="users-user-btns">
        <%= link_to "Follow", new_user_session_path, method: "POST", class: "index-follow" %> 
        <% if user_signed_in? %>
          <% if u == current_user %>
            <%= link_to "Edit Your Profile", edit_user_path(current_user), class: "index-follow" %>
          <% elsif current_user.followees.include?(u)  %>
            <%= button_to "Unfollow", unfollow_user_path(u), method: "POST", class: "index-unfollow" %>
          <% else %>
            <%= button_to "Follow", follow_user_path(u), method: "POST", class: "index-follow" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>