<% @users.each do |u| %>
  <div>
    <%= u.email %>
    <% if u == current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user), class: "edit-profile" %>
    <% elsif current_user.followees.include?(u)  %>
      <%= button_to "Unfollow", unfollow_user_path(u), method: "POST", class: "follow" %>
    <% else %>
      <%= button_to "Follow", follow_user_path(u), method: "POST", class: "follow" %>
    <% end %>
  </div><br>
<% end %>

<%= link_to "back", root_path %>
