<div class="users-show">
	<strong>Name: </strong><%= @user.name %><br>
	<strong>Bio: </strong><%= @user.bio %><br>
	<strong>Phone: </strong><%= @user.phone %><br>
	<strong>Email: </strong><%= @user.email %><br>
	<%= link_to "Edit profile", edit_user_path if @user == current_user %>
</div>