<%= render 'layouts/home_back_btn' %>
<div class="post-type post">
	<div><%= link_to 'Private post', home_private_post_path  %></div>
	<div><%= link_to 'Liked post', home_liked_post_path %></div>
</div>
<% c = 0 %>
<% @posts.each do |post| %>
	<div class="post">
    <% c = c + 1 %>
		<div class="font1"><strong>Post id: </strong><%= post.id %></div>
		<div><strong>Name: </strong><%= post.user.name.present? ? post.user.name : post.user.email %></div>
		<div><strong>Title: </strong><%= link_to post.title, post %></div>
		<div><strong>Desc: </strong><%= post.description %></div>
		<div><strong>Status: </strong><%= post.status %></div>
	   <div class="font1"><strong>Created at: </strong><%= time_ago_in_words(post.created_at) %> ago</div>
	</div>
<% end %>
<% if c == 0  %>
	<div class="post">
	  <h3 >You don't have any post.</h3><br>
	  <h3><%= link_to 'create a new post', new_post_path  %></h3>
	</div>
<% end %>
