<div class="show-posts">
	<%= render 'layouts/home_back_btn' %>
	<div class="post-type post">
		<div>
			<%= link_to 'Private post', home_private_post_path  %> 
        	<%= @private_posts_count %>
        </div>		
        <div>
	        <%= link_to 'Liked post', home_liked_post_path %>
			<%= @liked_posts.count %>
        </div>
	</div>
	<%= render 'post' %>
</div>

