<%= render 'layouts/home_back_btn' %>
<div class="posts-form">
  <%= form_with model: @post do |f| %>
    <div><%= f.text_field :title, placeholder: "Title...", class: "post-form-title" %></div>
    <div><%= f.text_field :description, placeholder: "Description...", class: "post-form-title" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.select :status, ['public', 'private', 'Friends'], selected: 'public', class: "post-form-status" %>
    </div>
    <%= f.submit 'Create Post', class: "comment-btn" %>
  <% end %>
</div>
