<% c = 0 %>
<% @posts.each do |post| %>
  <% if post.status != 'Friends' && post.status != 'private' %>
  <% c = c + 1  %>
    <div class="posts-post">
      <div><strong>Post id = > </strong> <%= post.id %></div>
      <% if post.user.name.present? %>
        <strong>Name: </strong><%= link_to post.user.name, user_path(post.user) %><br>
      <% else %>
        <%= link_to post.user.email, user_path(post.user) %><br>
      <% end %>

      <div><strong>Title: </strong><%= link_to post.title, post_path(post) %></div>
      <div><strong>desc: </strong><%= post.description %></div>
      
      <div>
        <%  @sum = post.likes.count %>
        <% if @sum > 1 %>
          <span><strong>Likes</strong> <%= @sum %></span>
        <% else %>
          <span><strong>Like</strong> <%= @sum %></span>
        <% end %>
      </div>  

      <div>
        <% like = current_user.likes.find_by(post: post) %>
        <% if like.nil? %>
           <%= button_to "Like", likes_path, params: { like: {post_id: post.id}}, method: :post , class: "like" %>
        <% else %>
           <%= button_to "Unlike", like_path(like), method: :delete, class: "unlike" %>
        <% end %>
      </div>
     <div><strong>Created at: </strong><%= time_ago_in_words(post.created_at) %> ago</div>
      <div>
        <%= button_to 'delete your post', post_path(post), method: :delete, class: "unlike" if post.user == current_user  %>
      </div>
      <div class="posts-post-comments">
        <div><strong>Comments</strong> <%= post.comments.count %> </div>
        <% post.comments.each do |comment| %>
          <div class="posts-post-comment">
            <p><%= comment.user.name.present? ? comment.user.name : comment.user.email%></p>
            <p><%= comment.body %></p>
            <div>
              <%= button_to 'delete your comment', [comment.post, comment], method: :delete, class: "unlike" if comment.user == current_user  %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div>
        <%= form_with model: [post, post.comments.build] do |form| %>
          <div><%= form.hidden_field :user_id, value: current_user.id %></div>
          <div><%= form.hidden_field :post_id, value: post.id %></div>
          <div><%= form.text_area :body, placeholder: "Add a new comment...", class: "comment-body" %></div>
          <div><%= form.submit "Post Comment", class: "comment-btn" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<div><strong>Total posts: </strong><%= c %></div>